name: AnimeApi Build


on:
  push:
    branches: [ main ]
    paths-ignore:
      - "./README.md"

  pull_request:
    branches: [ main ]

  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
          include-prerelease: true

      - name: Build project
        run: dotnet build "AnimeApi/AnimeApi.csproj" -c Release
